<a href="https://colab.research.google.com/github/sugimotoh/classes/blob/main/marketingmodels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('../content/bank-additional-full.csv', sep=';')

In [ ]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
df['y']

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [ ]:
ｄf["job"]

0          housemaid
1           services
2           services
3             admin.
4           services
            ...
41183        retired
41184    blue-collar
41185        retired
41186     technician
41187        retired
Name: job, Length: 41188, dtype: object

In [ ]:
pd.crosstab(df["job"], df['campaign'])

campaign,1,2,3,4,5,6,7,8,9,10,...,33,34,35,37,39,40,41,42,43,56
job,,,,,,,,,,,,,,,,,,,,,
admin.,4408,2667,1329,690,427,269,149,88,78,70,...,2,1,1,0,0,1,0,0,1,1
blue-collar,3929,2388,1255,562,367,230,143,92,49,48,...,0,0,1,0,0,0,1,0,0,0
entrepreneur,596,420,191,85,60,23,24,12,8,5,...,0,0,0,0,1,0,0,0,0,0
housemaid,459,269,119,73,39,27,16,14,10,6,...,0,0,0,0,0,0,0,0,0,0
management,1280,781,355,187,106,53,51,23,20,12,...,0,1,1,0,0,0,0,0,0,0
retired,788,428,209,125,54,31,17,18,9,7,...,0,0,0,0,0,0,0,1,0,0
self-employed,581,344,214,105,61,29,27,11,6,11,...,0,0,0,0,0,1,0,0,0,0
services,1653,1059,522,244,155,106,57,42,33,17,...,1,0,2,0,0,0,0,0,0,0
student,434,221,102,55,22,15,8,7,4,0,...,0,0,0,0,0,0,0,0,0,0
technician,2886,1694,883,437,268,166,117,74,51,39,...,1,1,0,1,0,0,0,1,1,0
unemployed,470,233,124,67,29,21,14,14,10,8,...,0,0,0,0,0,0,0,0,0,0
unknown,158,66,38,21,11,9,6,5,5,2,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df['y'].apply(lambda x: 1 if x == 'yes' else 0)

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y, Length: 41188, dtype: int64

In [ ]:
df['conversion'] = df['y'].apply(lambda x: 1 if x == 'yes' else 0)